<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>cookies</title>
  </head>
  <body>
    <form action="/getInput" method="post">
      <input type="text" id="fname" name="name" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <table>
      <tbody>
        <tr>
          Key
        </tr>
        <tr>
          Value: <%= Name %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
